header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    padding: 0 5%;
    background: linear-gradient(90deg, #7C0085, #C300D1);
    color: #fde1ff;
}

.main-title {
    font-family: "Alumni Sans", sans-serif;
}

.nav-link {
    text-decoration: none;
    color: #fde1ff;
    margin-left: 2vw;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37%;
}

#menu {
    font-size: 2rem;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: white;
}
